body {
    background-color: #F5D9D5;
    font-family: "Nunito", sans-serif;
}

#mainNavbar {
    font-size: 1.5rem;
    font-weight: 100;
}

#mainNavbar .navbar-brand {
    color: #EA1C2C;
    font-size: 1.75rem;
}

#mainNavbar .nav-link {
    color: white;
}

#mainNavbar .nav-link:hover {
    color: #EA1C2C;
}

.headingGroup h2 {
    font-size: 3.5rem;
    font-weight: 100;
}

/* Reduce Font Size */
@media (max-width: 1200px) {
    .headingGroup h2 {
        font-size: 3rem;
    }
}

/* Reduce Font Size */
@media (max-width: 1100px) {
    .headingGroup h2 {
        font-size: 2.75rem;
    }
}

.headingGroup h2 span {
    color: #EA1C2C;
}